/* CSS reset */

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
	
}

/* HTML5 display-role reset for older browsers */

article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Add CSS code to Project 2 */

/* Main Navigation */
p{
  font-family: 'Roboto', san-serif;
  font-weight: normal;
  margin-left: 20px;
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 15px;
}
h2 {
  font-family: 'Roboto', san-serif;
  margin: 40px;
  font-size: 40px;
}
h3{
  font-family: "Roboto", san-serif;
  margin:40px;
  font-size: 17px;	
  font-weight: bold;
}
h4{
  font-family:'Roboto', san-serif;
  margin: 20px;
  font-size: 12px;
  font-weight: bold;
}

/*nav css*/
nav#link {
  background-color: black;
  position: relative;
  top: 0px;
  width: 100%;
  margin-bottom: 20px;
  margin-top: 0px;
  padding: 10px 0px;
}
nav#link ul {
  list-style-type: none;
  overflow: hidden;
  margin-left:33%;
  margin-right:33%;
} 
nav#link ul li a {
  display: block;
  padding: 10px;
  font-size: 15px;
  color:	white;
  text-decoration: none;
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
  font-family: "Roboto", san-serif;
} 
nav#link a:hover {
  color: gray;
}

/*index*/
#intro{
  overflow: auto;
  margin: 20px;
  padding: 3px;
  border: 2px solid gray;
  width:95%;	
}
.photo1{
  width: 70%;
  height: auto;
  margin: 20px;
}

/*resume*/
#resu {
  overflow:auto;
  margin: 20px;
  padding: 3px;
  border:2px solid gray;
  font: 15px/18px 'Roboto', sans-serif;
}
#resu ul{
  font: 14px/30px 'Arial', sans-serif;
  list-style-type: disc;
  margin: 10px 30px 8px 30px;
}
#info {
	margin: 20px 40px 40px 20px;
}
#resu1 {
  overflow:auto;
  margin: 20px;
  padding: 3px;
  border:2px solid gray;
  font: 15px/18px 'Roboto', sans-serif;
}
#resu1 ul{
  font: 14px/30px 'Arial', sans-serif;
  list-style-type: disc;
  margin: 10px 30px 8px 30px;
}
#resu2 {
  overflow:auto;
  margin: 20px;
  padding: 3px;
  border:2px solid gray;
  font: 15px/18px 'Roboto', sans-serif;
}
#resu2 ul{
  font: 14px/30px 'Arial', sans-serif;
  list-style-type: disc;
  margin: 10px 30px 8px 30px;
}
#resu3 {
  overflow:auto;
  margin: 20px;
  padding: 3px;
  border:2px solid gray;
  font: 15px/18px 'Roboto', sans-serif;
}
/*hobbies*/
#exp{
  overflow: auto;
  margin: 20px;
  padding: 3px;
  border: 2px solid gray;
  width:95%;	
}
#pho {
  margin: 10px 30px 10px 30px;
  font-size: 15px;
}	
#pho1 {
  margin: 40px;
  font: 15px/18px 'Roboto', sans-serif;
}		
.photo2 {
  width: 40%;
  margin: 5px 10px 5px 10px;
  padding: 10px;
}
.vid {
  width: 100%; 
  margin: 40px;
}

/*footer*/
.foot{
  background-color: gray;
  text-align: center;
  font-size: 6px;
  padding: 10px;
  position: relative;
}

/*map*/
#map {
  height: 550px;
  margin: 40px;
}

/*magic*/
#magic {
  width:20px;
  height: 20px;
  padding: 7px;
  color: white;
  animation-name: colors;
  animation-duration: 10s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}
@keyframes colors {
  0%{background-color: red;}
  20%{background-color: orange;}
  40%{background-color: yellow;}
  60%{background-color: green;}
  80%{background-color: blue;}
  100%{background-color: purple;}
}
